<div class="container-main front-page">
	<header class="main">
		<div class="header-top">
			<div class="container">
				<div class="flex-container">
					{{ page.quick_links }}
				</div>
			</div>
		</div>
		<div class="header-main">
			<nav class="navbar static navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">
						<span class="logo-wrapper">
							<span class="logo">
								<img src="/sites/default/files/vmarc-logo-vertical.png?v3" alt="V-Marc">
							</span>
						</span>
					</a>
					
					<div class="collapse navbar-collapse show" id="navbarNav">
						{{ page.primary_menu }}
					</div>
				</div>
			</nav>
		</div>
	</header>
	<main class="main">
		<section class="face-slider">
			{{ page.main_slider }}
		</section>
		<section class="vmarc-info">
			<div class="container">
				<div class="d-flex">
					<div class="col-image">
						<div class="image-container">
							<img src="/sites/default/files/images/hand_shake.jpg" alt="">
						</div>
						<div class="section-title">
							<h2 class="title">About<br/>V-Marc</h2>
						</div>
					</div>
					<div class="col-text">
						<div class="col-header">
							<div class="title-sub">The Global Leader in Wires &amp; Cables</div>
							<h1 class="title">
								Connect With Trust, V-Marc Reliable and Consistent Industrial Quality Wires &amp; Cables
							</h1>
						</div>
						<div class="col-body">
							<p>V-Marc is one of the global leader in providing reliable and consistent quality of products, we enable our clients to achieve more and outperform their competitors and stay ahead of the innovation curve. The growth of the latter is the first stepping stone towards the growth of the company and hence customer’s satisfaction is its prime objective.</p>

							<p>V-Marc has earned the trust and reputation in India by winning the customer’s confidence.</p>
							<a href="/about/company" class="btn btn-lg btn-outline-danger">More About Us
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="product-info">
			<div class="container">
				<div class="d-flex">
					<div class="col-text">
						<div class="col-header">
							<div class="title-sub">Our Featured Products</div>
							<h2 class="col-title">Check out the best quality cables and wires in India</h2>
						</div>
						<div class="col-body">
							<p>V-Marc Manufacturing Unit is well equiped with modern plant and machinery and have complete testing equiptment backed up with well qualified and trained personnel.</p>
							<p>V-Marc 3 Core Flat Cables are used by quality conscious electrical contractors and recommended by leading consultants, Builders for projects, domestic, industrial & agricultural use.</p>
							<a href="/products" class="btn btn-lg btn-outline-danger">Our Products
								<i class="fa-solid fa-chevron-right"></i>
							</a>
						</div>
					</div>
					<div class="col-image">
						{{ page.category_list }}
					</div>
				</div>
			</div>
		</section>


		<section class="product-slider">
			<div class="bg"><img src="/sites/default/files/bg-lights.jpg" alt=""/></div>
			<div class="section-title">
				<h2 class="title">Our Upcoming Products</h2>
			</div>
			<div class="container">
				<div class="upcoming-product-slider">
					<div class="slide-item">
						<div class="image"><img src="/sites/default/files/up-01.png" alt=""></div>
						<div class="caption">Switches</div>
						<p class="description">A switch <strong>responds to an external force to mechanically change an
electric signal.</strong> Switches are used to turn electric circuits ON and OFF and to switch
electric circuits.</p>
					</div>
					<div class="slide-item">
						<div class="image"><img src="/sites/default/files/up-02.png" alt=""></div>
						<div class="caption">Distribution Board</div>
						<p class="description">A distribution board is a component of an electricity supply system
that <strong>divides an electrical power feed into subsidiary circuits while providing a
protective fuse or circuit breaker for each circuit in a common enclosure.</strong> </p>
					</div>
					<div class="slide-item">
						<div class="image"><img src="/sites/default/files/up-03.png" alt=""></div>
						<div class="caption">RCCB</div>
						<p class="description">A Residual Current Circuit Breaker is a current sensing device, which can
automatically measure and disconnect the circuit whenever a fault occurs in the
connected circuit or the current exceeds the rated sensitivity.</p>
					</div>
					<div class="slide-item">
						<div class="image"><img src="/sites/default/files/up-04.png" alt=""></div>
						<div class="caption">MCB</div>
						<p class="description">MCB stands for Miniature Circuit Breaker. It automatically switches OFF electrical
circuit during any abnormal condition in the electrical network such as overload &amp; short
circuit conditions.</p>
					</div>
				</div>
			</div>
		</section>

		{{ page.block_bottom }}
	</main>
	<footer class='main'>
		<div class="footer-navbar">
			<div class="container">
				<div class="d-flex">
					<div class="footer-logo-container">
						<div class="logo">
							<img src="{{ base_path ~ directory }}/images/v-marc_logo.png?v1" alt="">
						</div>
					</div>
					<div class="footer-nav">
						{{ page.footer_menu }}
					</div>
				</div>
			</div>
		</div>
		<div class="footer-details">
			<div class="container">
				<div class="footer-cols">
					<div class="col-main">
						{{ page.social_links }}
					</div>
					<div class="col-sub">
						<address>
							<div class="title">Registered Office</div>
							Plot No. 3, 4, 18 &amp; 20 A,<br />
							Sector – IIDC, SIDCUL,<br />
							Haridwar, Uttarakhand – 249403<br/><br/>
							<strong>Phone</strong>: 01334-239638<br/>
							<strong>Customer Support</strong>: 70555 21808<br/>
							<strong>Email</strong>: info@v-marc.in
						</address>
					</div>
					<div class="col-sub">
						<address>
							<div class="title">Sales Office</div>
							203, Aditya Complex,<br />
							Local Shopping Centre,<br />
							Savita Vihar, Delhi – 110092.<br/><br />
							<strong>Phone</strong>: 011-43025843<br/>
							<strong>Email</strong>: sales@v-marc.in<br /> salesproject@v-marc.in
						</address>
					</div>
				</div>
				<div class="policy">©V-MARC India Limited. All Rights Reserved.</div>
			</div>
		</div>
	</footer>
	<a href="#top" class="scrollTop">
		<i class="fa-solid fa-arrow-up"></i>
	</a>
</div>

<script type="text/javascript">
//jQuery(document).ready(function(){
	jQuery(window).scroll(function () {
        /*
		if(jQuery(this).scrollTop() >= 40){
			jQuery('.header-top').addClass('hide');
		}else{
			jQuery('.header-top').removeClass('hide');
		}
        */
		if(jQuery(this).scrollTop() > 200){
			jQuery('.scrollTop').addClass('show');
		}else{
			jQuery('.scrollTop').removeClass('show');
		}
	});
	jQuery("a[href='#top']").click(function() {
  		jQuery("html, body").animate({ scrollTop: 0 }, "slow");
  		return false;
	});
	jQuery(document).ready(function () {
		jQuery('.upcoming-product-slider').slick({
			autoplay: true,
			autoplaySpeed: 1000, 
			centerMode: true, 
			centerPadding: '0px', 
			slidesToShow: 3
		});
	});
//})
</script>
